<%= include header.ejs %>
    
    <div class="main">
      <h1><%= post.title %></h1>
      <div>
	<%= post.content %>
      </div>    
    </div>

    <%= include sidebar.ejs %>

<%= include footer.ejs %>
