<%= include header.ejs %>

    <div class="main">
        <h1>Posts</h1>

    	<% for(var i=0; i<posts.length; i++) {%>
      	 <div>
	 	  <a href="posts/<%= posts[i]._id %>"><%= posts[i].title %></a>
         </div>
    	<% } %>
    </div>

    <%= include sidebar.ejs %>

<%= include footer.ejs %>
